@font-face {
  font-family: Boldena;
  src: url(Boldena.ttf);
}
.boldena-font {
  font-family: Boldena;
}
.gold {
  font-size: 25px;
}
.gold-button {
  font-size: 25px;
  border-radius: 5rem;
  height: 12rem;
  width: 12rem;
  background-color: #9a0000;
  box-shadow: 0 9px #999;
  transition: 0.3s;
}
.gold-button:hover {
  background-color: #800000;
  transition: 0.5s;
}
.gold-button:active {
  background-color: #810000;
  box-shadow: 0 5px #666;
  transform: translateY(5px);
  transition: 0.1s;
}
.property-align {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.buying {
  width: auto;
  border-radius: 50px;
  border-color: gainsboro;
  box-shadow: 0 3px #999;
  transition: 0.5s;
}
.buying:hover {
  border-color: #666;
  transition: 0.5s;
}
.inline-div {
  display: inline;
}
.history-text {
  display: inline-block;
  height: 100px;
  width: 200px;
  padding: 25px;
  opacity: 0;
  transition: opacity 1s;
}
.chests {
  padding: 25px;
  width: auto;
  font-size: medium;
}
.items {
  position: absolute;
  left: 30%;
}
.crit-text {
  opacity: 0;
  color: red;
  transition: 0.5s;
}
#items-list {
  font-size: 25px;
}
#survivor {
  color: #33334d;
}
#clickMultiplier {
  color: #995e4f;
}
#farm-name {
  opacity: 0.3;
  transition: opacity ease-out 0.5s;
  border-radius: 3rem;
  background-color: rgba(250, 235, 215, 0.514);
  width: 20rem;
  height: 3rem;
  text-align: center;
  font-size: 2rem;
  font-family: Boldena;
  margin-top: 3rem;
  outline: none;
  color: black;
}
#farm-name-button {
  opacity: 0;
}
#farm-name:hover {
  opacity: 1;
  transition: 0.5s;
}
#farm-name:focus {
  opacity: 1;
  transition: 0.5s;
}
