@font-face {
  font-family: Boldena;
  src: url(Boldena.ttf);
}
html,
body {
  margin: 0;
  padding: 0;
  background: rgb(196, 194, 226);
  background: linear-gradient(
    180deg,
    rgba(196, 194, 226, 1) 0%,
    rgba(140, 140, 191, 1) 73%,
    rgba(76, 109, 116, 1) 100%
  );
}
body {
  height: 100vh;
  width: 100vw;
}
* {
  box-sizing: border-box;
}
div {
  height: 100%;
  width: 100%;
}
br {
  user-select: none;
}
.welcome-text {
  font-size: 20px;
  display: inline-block;
  width: 80%;
  transition: 2s;
}
.boldena-font {
  font-family: Boldena;
}
.source-sans-font {
  font-family: 'Source Sans Pro', sans-serif;
}
.gold {
  font-size: 3vw;
}
.gold-styling {
  font-size: 25px;
  user-select: none;
}
/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #bebebe radial-gradient(circle, transparent 1%, #d30707 1%)
    center/15000%;
}
.ripple:active {
  background-color: #b30000;
  background-size: 100%;
  transition: background 0s;
}
.gold-button {
  font-size: 25px;
  border-radius: 10rem;
  margin-top: 15%;
  height: 15rem;
  width: 15rem;
  background-color: #f5f5f5;
  box-shadow: 0 9px #999;
  transition: 0.3s;
  left: 50%;
  opacity: 0.8;
  user-select: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.gold-button:hover {
  background-color: #bebebe;

  transition: 1.5s;
}

.gold-button:active {
  background-color: #d30707;
  box-shadow: 0 5px #666;

  transform: translateY(5px);
  transition: 0.2s;
}

.grid-container {
  display: grid;
  padding: 10px;
  column-gap: 10px;
  grid-template-columns: 32% auto 32%;
  grid-template-rows: 100%;
}
.grid-container > div {
  text-align: center;
  background: rgb(137, 137, 252);
  background: linear-gradient(
    180deg,
    rgba(137, 137, 252, 0.9864320728291317) 0%,
    rgba(145, 158, 185, 0.9416141456582633) 49%,
    rgba(72, 119, 129, 0.9304096638655462) 100%
  );
  border-radius: 25px;
  justify-items: center;
}

.buying {
  font-size: 90%;
  width: 30%;
  border-radius: 50px;
  border-color: gainsboro;
  box-shadow: 0 3px #999;
  transition: 0.5s;
  width: auto;
}
.buying:hover {
  border-color: #666;
  transition: 0.5s;
}
.inline-div {
  display: inline;
}
.boss-button {
  margin-top: 5%;
  width: 90%;
  font-size: 20px;
  border-radius: 50px;
  border-color: rgb(170, 206, 207);
  box-shadow: 0 3px rgb(170, 206, 207);
  background-color: #28938c;
  transition-property: background-color;
  transition-duration: 0.5s;
  visibility: hidden;
}
.boss-button:hover {
  background-color: rgb(150, 23, 54);
  transition-property: background-color;
  transition-duration: 0.5s;
}
.timer {
  font-size: 22px;
  user-select: none;
}
.history-text {
  display: inline-block;
  height: 90px;
  width: 100%;
  padding: 25px;
  opacity: 0;
  transition: opacity 1s;
  font-size: 140%;
  user-select: none;
}
.item-history-text {
  display: inline-block;
  height: 100px;
  width: 90%;
  padding: 25px;
  opacity: 0;
  transition: opacity 1s;
  font-size: 150%;
  user-select: none;
}
.chests {
  padding: 3%;
  width: 70%;
  margin-top: 5%;
  font-size: 15px;
}
.items {
  position: absolute;
  left: 30%;
}
.crit-text {
  opacity: 0;
  color: red;
  transition: 0.5s;
  user-select: none;
}
.shop-text {
  font-size: 2rem;
}
.lcoin-shop {
  opacity: 0;
  font-size: 2rem;
}
.monster-tooth {
  display: block;
  position: absolute;
  margin-bottom: 70%;
  border-radius: 200%;
  height: 40px;
  width: 40px;
  box-shadow: 0 3px #999;
  opacity: 0.6;
  background-color: orange;
}
.monster-tooth:active {
  background-color: orangered;
  box-shadow: 0 3px #666;

  transform: translateY(3px);
  transition: 0.2s;
}
#items-list {
  display: inline;
  font-size: 130%;
  border: 0px solid black;
  width: 90%;
  height: 10%;
  text-align: left;
}

#survivor-text {
  display: block;
}
#click-multiplier-text {
  display: block;
}
#drone-text {
  display: block;
  opacity: 0;
  transition: 0.5s;
}
#turret-text {
  display: block;
  opacity: 0;
  transition: 0.5s;
}
#click-machine-text {
  display: block;
  opacity: 0;
  transition: 0.5s;
}
#minions-text {
  display: block;
  opacity: 0;
  transition: 0.5s;
}
#boost-idle-text {
  display: block;
  opacity: 0;
  transition: 0.5s;
}
#boost-click-text {
  display: block;
  opacity: 0;
  transition: 0.5s;
}
#boost-afk-text {
  display: block;
  opacity: 0;
  transition: 0.5s;
}
#boost-chest-text {
  display: block;
  opacity: 0;
  transition: 0.5s;
}
#survivor {
  color: #33334d;
  width: auto;
}

#clickMultiplier {
  color: #995e4f;
  width: auto;
}
#drone {
  opacity: 0;
  color: rgb(54, 91, 92);
  width: auto;
}
#turret {
  opacity: 0;
  color: rgb(54, 91, 92);
  width: auto;
}
#click-machine {
  opacity: 0;
  color: rgb(54, 91, 92);
  width: auto;
}
#minions {
  opacity: 0;
  color: cadetblue;
  width: auto;
}
#boost-idle {
  opacity: 0;
  color: rgb(47, 80, 82);
  width: auto;
}
#boost-click {
  opacity: 0;
  color: rgb(47, 80, 82);
  width: auto;
}
#boost-afk {
  opacity: 0;
  color: rgb(47, 80, 82);
  width: auto;
}
#boost-chest {
  opacity: 0;
  color: rgb(47, 80, 82);
  width: auto;
}
#farm-name {
  opacity: 0.3;
  transition: opacity ease-out 0.5s;
  border-radius: 3rem;
  background-color: rgba(250, 235, 215, 0.514);
  width: 75%;
  height: auto;
  text-align: center;
  font-size: 2rem;
  font-family: Boldena;
  outline: none;
  color: black;
}
#farm-name-button {
  opacity: 0;
  user-select: none;
}
#farm-name:hover {
  opacity: 1;
  transition: 0.5s;
}
#farm-name:focus {
  opacity: 1;
  transition: 0.5s;
}
#enemy-level {
  font-size: 25px;
  margin-left: 2%;
}

.char-remaining {
  display: inline-block;
  width: 70%;
  text-align: left;
  opacity: 0;
  transition: 0.5s;
  user-select: none;
}
.tool-tip-level {
  font-size: 15px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dottet black;
}
.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity 0.5s;
  width: 120px;
  background-color: rgba(184, 171, 171, 0.575);
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
  user-select: none;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}
.tooltipboss {
  position: relative;
  border-bottom: 1px dottet black;
}
.tooltipboss .tooltipbosstext {
  visibility: hidden;
  transition: opacity 0.5s;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  white-space: pre-line;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  user-select: none;
}
.tooltipboss:hover .tooltipbosstext {
  visibility: visible;
}
.tool-tip-boss {
  display: block;
}
.reset {
  align-items: end;
  visibility: hidden;
}
.modal {
  border-radius: 5%;
  margin-top: 10%;
  margin-left: 35.6%;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  width: 30%;
  height: 70%;
  overflow: auto;
  /* background-color: rgb(43, 43, 59); */
  background-color: #638699;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: left;
  border: 2px solid black;
}

.modal-content {
  font-size: 180%;
  margin: 15% auto;
  padding: 20px;

  width: 80%;
}

#progress {
  visibility: hidden;
  width: 90%;
  background-color: red;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.info-modal {
  border-radius: 5%;
  margin-top: 10%;
  margin-left: 23%;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  width: 55%;
  height: 70%;
  overflow-y: auto;
  /* background-color: rgb(43, 43, 59); */
  background-color: #638699;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: left;
  border: 2px solid #4f6673;
  word-wrap: break-word;
}
.info-modal-content {
  font-size: 130%;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  word-wrap: break-word;
}
.info-buttons {
  display: block;
  position: absolute;
  margin-left: 1%;
  width: 30%;
  top: 83%;
}
.info-help {
  border: 1.5px solid #2c363b;
  border-radius: 10px;
  background-color: #3f7d9e;
  padding: 5px;
  width: 90%;
}
.info-properties {
  border: 1.5px solid #2c363b;
  border-radius: 10px;
  background-color: #3f7d9e;
  padding: 5px;
  width: 90%;
}
.info-stats {
  border: 1.5px solid #2c363b;
  border-radius: 10px;
  background-color: #3f7d9e;
  width: 90%;
  padding: 5px;
}

.info-item {
  border: 1.5px solid #2c363b;
  border-radius: 10px;
  background-color: #3f7d9e;

  padding: 5px;
  width: 90%;
}
.loop-button {
  border: 1.5px solid #2b4347;
  border-radius: 10px;
  background: rgb(40, 147, 140);
  background: linear-gradient(
    37deg,
    rgba(40, 147, 140, 1) 0%,
    rgba(2, 233, 255, 1) 54%,
    rgba(255, 231, 0, 1) 100%
  );
  box-shadow: 0 9px #4b86a5;
  letter-spacing: 4px;
  font-size: 20px;
  padding: 5px;
  width: 90%;
  transition: 0.2s;
  user-select: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 3s;
}
.loop-button:active {
  transform: translateY(5px);
  transition: 0.2s;
}
.loop-yes {
  position: absolute;
  z-index: 2;
  width: 7vw;
  height: 5vh;
  top: 40vh;
  left: 41vw;
  visibility: hidden;
}
.loop-no {
  position: absolute;
  z-index: 2;
  width: 7vw;
  height: 5vh;
  top: 40vh;
  left: 51vw;
  visibility: hidden;
}
.l-coins-styling {
  font-size: 150%;
  display: none;
  margin: 0;
}
.l-coins {
  font-size: 130%;
  display: none;
  margin: 0;
}
/* .info-achievements {
  border-radius: 10px;
  background-color: gray;

  padding: 5px;
  width: 90%;
} */
.save-load.buttons {
  width: auto;
}
label[for='fileInput'] {
  display: inline-block;
  font-size: 90%;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  border-radius: 50px;
  background-color: gainsboro;
  box-shadow: 0 3px #999;
}

.save-load {
  display: block;
  position: absolute;
  top: 90vh;
  left: 6vw;
}
